/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнул¤ем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устран¤ем отступы между ¤чейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию дл¤ элементов форм (в частности дл¤ checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы дл¤ текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
}
a, a:visited { /* пор¤док правил дл¤ ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
body{
	background: url("../img/background.jpg") top repeat-x;
	font:12px "Arial";
	color:#555;
	line-height:1.3;	
}
header, section, footer{
	width:755px;
	margin:0 auto;
}
header{
	padding:30px 0 0 0;
	margin-bottom:20px;
}
header>img{
	margin:0 auto 20px auto;
	display:block;
}
header>ul{
	list-style:none;
	background:#fff;
	font-size:14px;
	border-left:1px solid #f3f3f3;
	border-top:1px solid #f3f3f3;
	border-right:1px solid #f3f3f3;
	border-bottom:3px solid #9dc5f0;
	overflow:hidden;
}
header li{
	float:left;
	border-left:1px solid #f3f3f3;
	padding:8px 25px;
}
header li a{
	color:#5f5d67;
	text-decoration:none;
}
header li a:hover{
	text-decoration:underline; 
	color:#9dc5f0;
}
section{
	overflow:hidden;
}
.contentleft h1, .contentright h1{
	font:normal 24px "Times New Roman";
	margin-bottom:20px;
}
.contentleft p, .contentright p{
	margin-bottom:20px;
}
.content ul{
	margin-bottom:20px;
}
.contentleft{
	background:#fff;
	padding:30px 30px 32000px 30px;
	margin-bottom:-32000px;
	width:420px;
	float:left;
}
.contentright{
	background:#fff;
	width:230px;
	padding:30px 10px 32000px 25px;
	margin-bottom:-32000px;
	float:right;
}
footer{
	padding-bottom:30px;
	margin-top:20px;
	color:a1a0a7;
}
article img{
	margin-bottom:30px;
}